<div class="col-md-6">
    <div class="text-content ps-md-5 mt-4 mt-md-0">
     
      <div class="container mt-3">
        <table style="width: 130%;"  class="table table-bordered table-hover text-light">
          
          <thead class="table-dark">
            <tr>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Status</th>
              <th>Reason</th>
            </tr>
          </thead>
          <tbody>
            <tr 
              *ngFor="let log of leaveRequests" 
              [class.selected]="log.id === selectedRequestId" 
              (click)="selectRequest(log.id)">
              <td>{{ log.startDate | date }}</td>
              <td>{{ log.endDate | date: 'short' }}</td>
              <td>{{ log.status }}</td>
              <td>{{ log.reason }}</td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <!-- Accept and Reject buttons below the table -->
      <div class="button-group mt-3">
        <button 
          *ngIf="selectedRequestId" 
          (click)="approveRequest()" 
          class="btn btn-success btn-lg me-2">Accept</button>
        <button  
          *ngIf="selectedRequestId" 
          (click)="rejectRequest()" 
          class="btn btn-danger btn-lg">Reject</button>
      </div>
      
      <a href="index.html" class="btn btn-primary btn-lg mt-4">Get In Touch</a>
    </div>
  </div>
  