

<!-- Modal Structure -->
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="tabs-listing mt-4">
          <!-- Nav Tabs -->
          <nav>
            <div class="nav nav-tabs d-flex justify-content-center border-0" id="nav-tab" role="tablist">
              <button class="btn btn-outline-primary text-uppercase me-3 active" id="nav-login-tab"
                      data-bs-toggle="tab" data-bs-target="#nav-login" type="button" role="tab"
                      aria-controls="nav-login" aria-selected="true">Log In
              </button>
            </div>
          </nav>
          
          <!-- Tab Content -->
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade active show" id="nav-login" role="tabpanel" aria-labelledby="nav-login-tab">
              
              <!-- Angular Login Form -->
              <form (ngSubmit)="onLogin()" #loginForm="ngForm" class="form-group flex-wrap p-3">
                
                <!-- Display Error Message -->
                <div *ngIf="loginError" class="alert alert-danger">
                  Login failed. Please check your credentials.
                </div>
                
                <!-- Email Field -->
                <div class="form-input col-lg-12 my-4">
                  <label for="username" class="form-label fs-6 text-uppercase fw-bold text-black">Email Address</label>
                  <mat-form-field class="w-100">
                    <input matInput id="username" name="username" [(ngModel)]="loginData.username" required
                           placeholder="Email" class="form-control ps-3">
                  </mat-form-field>
                </div>
                
                <!-- Password Field -->
                <div class="form-input col-lg-12 my-4">
                  <label for="password" class="form-label fs-6 text-uppercase fw-bold text-black">Password</label>
                  <mat-form-field class="w-100">
                    <input matInput id="password" name="password" [(ngModel)]="loginData.password" type="password"
                           required placeholder="Password" class="form-control ps-3">
                  </mat-form-field>
                  <div id="passwordHelpBlock" class="form-text text-center">
                    <a href="#" class="password">Forgot Password?</a>
                  </div>
                </div>
                
                <!-- Remember Me Checkbox -->
                <label class="py-3">
                  <input type="checkbox" class="d-inline">
                  <span class="label-body text-black">Remember Me</span>
                </label>
                
                <!-- Submit Button -->
                <div class="d-grid my-3">
                  <button mat-raised-button color="primary" class="btn btn-lg btn-dark text-uppercase btn-rounded-none fs-6"
                          type="submit">Log In
                  </button>
                </div>
                
                <!-- Logout Button -->
                <div class="d-grid my-3">
                  <button mat-raised-button color="warn" class="btn btn-lg btn-dark text-uppercase btn-rounded-none fs-6"
                          type="button" (click)="logout()">Log Out
                  </button>
                </div>
              </form>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
